<p id="notice"><%= notice %></p>

<p>
  <b>Idfamilia:</b>
  <%= @alumno.IdFamilia %>
</p>

<p>
  <b>Escuelaproviene:</b>
  <%= @alumno.EscuelaProviene %>
</p>

<p>
  <b>Rne:</b>
  <%= @alumno.rne %>
</p>

<p>
  <b>Nombres:</b>
  <%= @alumno.nombres %>
</p>

<p>
  <b>Apellido1:</b>
  <%= @alumno.apellido1 %>
</p>

<p>
  <b>Apellido2:</b>
  <%= @alumno.apellido2 %>
</p>

<p>
  <b>Fechanacimiento:</b>
  <%= @alumno.fechaNacimiento %>
</p>

<p>
  <b>Genero:</b>
  <%= @alumno.genero %>
</p>

<p>
  <b>Mano:</b>
  <%= @alumno.mano %>
</p>

<p>
  <b>Lugarnacimiento:</b>
  <%= @alumno.lugarNacimiento %>
</p>

<p>
  <b>Departamento:</b>
  <%= @alumno.departamento %>
</p>

<p>
  <b>Municipio:</b>
  <%= @alumno.municipio %>
</p>

<p>
  <b>Nacionalidad:</b>
  <%= @alumno.nacionalidad %>
</p>

<p>
  <b>Pais:</b>
  <%= @alumno.pais %>
</p>

<p>
  <b>Religion:</b>
  <%= @alumno.religion %>
</p>

<p>
  <b>Colonia:</b>
  <%= @alumno.colonia %>
</p>

<p>
  <b>Avenida:</b>
  <%= @alumno.avenida %>
</p>

<p>
  <b>Calle:</b>
  <%= @alumno.calle %>
</p>

<p>
  <b>Casa:</b>
  <%= @alumno.casa %>
</p>

<p>
  <b>Esrepitente:</b>
  <%= @alumno.esRepitente %>
</p>

<p>
  <b>Esbecado:</b>
  <%= @alumno.esBecado %>
</p>

<p>
  <b>Eshijomaestro:</b>
  <%= @alumno.esHijoMaestro %>
</p>

<p>
  <b>Retirado:</b>
  <%= @alumno.retirado %>
</p>


<%= link_to 'Edit', edit_alumno_path(@alumno) %> |
<%= link_to 'Back', alumnos_path %>
