<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @lectivo.codigo %>
</p>

<p>
  <b>Slogan:</b>
  <%= @lectivo.slogan %>
</p>

<p>
  <b>Valor1p:</b>
  <%= @lectivo.valor1p %>
</p>

<p>
  <b>Valor2p:</b>
  <%= @lectivo.valor2p %>
</p>

<p>
  <b>Valor3p:</b>
  <%= @lectivo.valor3p %>
</p>

<p>
  <b>Valor4p:</b>
  <%= @lectivo.valor4p %>
</p>

<p>
  <b>Valor aprobado:</b>
  <%= @lectivo.valor_aprobado %>
</p>


<%= link_to 'Edit', edit_lectivo_path(@lectivo) %> |
<%= link_to 'Back', lectivos_path %>
