<%= form_for(@bingo) do |f| %>
  <% if @bingo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bingo.errors.count, "error") %> prohibited this bingo from being saved:</h2>

      <ul>
      <% @bingo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lectivo %><br />
    <%= f.text_field :lectivo %>
  </div>
  <div class="field">
    <%= f.label :rne %><br />
    <%= f.text_field :rne %>
  </div>
  <div class="field">
    <%= f.label :recibo %><br />
    <%= f.text_field :recibo %>
  </div>
  <div class="field">
    <%= f.label :fechapago %><br />
    <%= f.date_select :fechapago %>
  </div>
  <div class="field">
    <%= f.label :montopago %><br />
    <%= f.text_field :montopago %>
  </div>
  <div class="field">
    <%= f.label :posteadopor %><br />
    <%= f.text_field :posteadopor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
