<p id="notice"><%= notice %></p>

<p>
  <b>Lectivoactual:</b>
  <%= @general.lectivoActual %>
</p>

<p>
  <b>Idsistema:</b>
  <%= @general.idsistema %>
</p>

<p>
  <b>Noplanocci:</b>
  <%= @general.noPlanOcci %>
</p>

<p>
  <b>Cobrazaocci:</b>
  <%= @general.cobrazaOcci %>
</p>

<p>
  <b>Nombrearchivoocci:</b>
  <%= @general.nombreArchivoOcci %>
</p>

<p>
  <b>Bimestreactual:</b>
  <%= @general.bimestreActual %>
</p>

<p>
  <b>Notasweb:</b>
  <%= @general.notasweb %>
</p>

<p>
  <b>Tienebingo:</b>
  <%= @general.tieneBingo %>
</p>

<p>
  <b>Tienepapeleria:</b>
  <%= @general.tienePapeleria %>
</p>

<p>
  <b>Boletaimpresa:</b>
  <%= @general.boletaImpresa %>
</p>


<%= link_to 'Edit', edit_general_path(@general) %> |
<%= link_to 'Back', generales_path %>
